.todoMain {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.todoHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.todoHeader1 {
    display: flex;
}

.todoHeader2 {
    display: flex;
    gap: 10px;
}

.todoInput {
  background-color: #2d3136;
  color: #ffffff;
  width: 100%;               
  padding: 10px 15px;        
  font-size: 16px;           
  border: 2px solid #2d3136;    
  border-radius: 8px;        
  outline: none;             
  transition: border 0.2s ease, box-shadow 0.2s ease; 
}

.todoInput:focus {
  border-color: #ccc;     
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
}


.todoInput::placeholder {
  color: #999;               
  font-style: italic;
}

.addButton {
  padding: 10px 20px;             
  font-size: 16px;                
  font-weight: bold;              
  color: white;                   
  background-color: #4CAF50;      
  border: none;                   
  border-radius: 8px;             
  cursor: pointer;                
  transition: background-color 0.2s ease, transform 0.1s ease; 
}

.addButton:hover {
  background-color: #3b893f;      
}

.addButton:active {
  transform: scale(0.98);         
}

.todoList{
    display: flex;
    flex-direction: column;
}